<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link rel="stylesheet" type="text/css" href="/css/layout.css">
</head>
<body>
    <div class="container">
  <h1 class="p">Posts</h1>