* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, rgb(120, 175, 120), rgb(118, 196, 118));
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 100%;
  height: 800px;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.post {
  background: white;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
  color: #333;
  width: 100%;
}

.post h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.post p {
  font-size: 1rem;
}

.post-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

button {
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: linear-gradient(135deg, #2a5298, #1e3c72);
}

.footer {
  text-align: center;
  padding: 10px;
  color: white;
}
